WebInterface/Service References/SuperCarsService/VehicleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServices.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServices.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3249/VehicleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Context" />
  <xs:complexType name="PaginationOfVehicleRHchMops">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WebServices.Entities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Vehicle" Namespace="http://schemas.datacontract.org/2004/07/Context" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Context" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfVehicle" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RowsPerPage" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginationOfVehicleRHchMops" nillable="true" type="tns:PaginationOfVehicleRHchMops" />
</xs:schema>